---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import sampleImg from "../assets/img/sample.png";
---

<Layout title="Register">
    <section class="flex justify-center">
        <form
            id="register"
            class="flex flex-col w-full md:w-2/3 w-full"
            action=""
        >
            <div class="w-full m-2 flex flex-col justify-center">
                <label for="username">Username</label>
                <input
                    type="text"
                    name="username"
                    id="username"
                    class="md:w-2/3 m-2 p-1 border border-gray-400 outline-none focus:border-gray-900"
                    placeholder="Enter Your Username"
                    required
                />
            </div>
            <div class="w-full m-2 flex flex-col justify-center">
                <label for="email">Email</label>
                <input
                    type="email"
                    name="email"
                    id="email"
                    class="md:w-2/3 m-2 p-1 border border-gray-400 outline-none focus:border-gray-900"
                    placeholder="Enter Valid Email Address"
                    required
                />
            </div>
            <div class="w-full m-2 flex flex-col justify-center">
                <label for="phone">Phone Number</label>
                <input
                    type="number"
                    name="phone"
                    id="phone"
                    class="md:w-2/3 m-2 p-1 border border-gray-400 outline-none focus:border-gray-900"
                    placeholder="0xxxxxxxxxx"
                    required
                />
            </div>
            <div
                id="password-section"
                class="w-full m-2 flex flex-col justify-center"
            >
                <div class="md:w-2/3 p-4">
                    <p class="p-2 mx-3 border-2 border-red-600">
                        <span class="font-semibold">NOTE:</span> Pick 4 PassPoint
                        from the images below
                    </p>
                    <p class="p-2 mx-3">
                        Picked PassPoint <span id="passpoint-counter">0/4</span>
                    </p>
                </div>
                <div class="flex flex-wrap justify-around md:w-2/3 my-3">
                    <Image
                        id="pwd"
                        src={sampleImg}
                        alt="passpoint"
                        class="btn-open-modal p-2"
                    />
                </div>
            </div>
            <div class="w-full m-2 flex flex-col justify-center">
                <!-- <input type="submit" value="Register"> -->
                <button
                    id="resetBtn"
                    type="button"
                    class="md:w-2/3 m-2 p-1 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    Reset
                </button>
                <button
                    id="submitBtn"
                    type="submit"
                    class="md:w-2/3 m-2 p-1 text-white bg-blue-700 disabled:cursor-none disabled:hover:bg-blue-100 disabled:bg-blue-100 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    disabled
                >
                    Register
                </button>
            </div>
        </form>
    </section>
</Layout>
<script>
    const imgDetails = [];
    // const openModalButtons = document.querySelectorAll(".btn-open-modal");
    // const closeModalButtons = document.querySelectorAll(".btn-close-modal");
    // const clickableImg = document.querySelectorAll(".clickable");
    // const modals = document.querySelectorAll(".modal");
    const passpointCounter = document.getElementById("passpoint-counter");
    const passwordDiv = document.getElementById("password-section");
    const registerButton = document.getElementById("submitBtn");
    const resetBtn = document.getElementById("resetBtn");
    const pwd = document.getElementById("pwd");
    const registrationForm = document.getElementById("register");

    pwd.addEventListener("click", (event) => {
        const containerRect = pwd.getBoundingClientRect();
        const clickedXPercentage =
            ((event.clientX - containerRect.left) / containerRect.width) * 100;
        const clickedYPercentage =
            ((event.clientY - containerRect.top) / containerRect.height) * 100;

        // console.log(
        //     // "Clicked position (x%, y%):",
        //     `x: ${clickedXPercentage},
        //     y: ${clickedYPercentage}`
        // );
        //   imgDetails[`${event.target.id}`]=[clickedXPercentage,clickedYPercentage];
        let passpoint = [clickedXPercentage, clickedYPercentage];
        // img: event.target.id,

        // };
        imgDetails.push(passpoint);
        // console.log(passpoint);

        console.log(imgDetails);
        passpointCounter.textContent = `${imgDetails.length}/4`;
        // modals.classList.add("hidden");
        if (imgDetails.length >= 4) {
            passwordDiv.classList.add("pointer-events-none");
            pwd.classList.add("opacity-25");
            registerButton.toggleAttribute("disabled");
        }
        // document
        //     .getElementById(`${event.target.id}`)
        //     .classList.toggle("hidden");

        //   FileStorage.addUsers();
        //   console.log('Clicked position (x, y):', clickedX, clickedY);
        //   console.log('Clicked position (x, y):', winClickedX, winClickedY);
        //   console.log(`windows ${window.innerHeight}h ${window.innerWidth}`)
        //   console.log(` y ${event.clientX}, x ${event.clientY}, width ${containerRect.width}Clicked position (x, y):, clickedX, clickedY`);
        //   console.log(containerRect);
    });
    // openModalButtons.forEach((button, index) => {
    //     button.addEventListener("click", () => {
    //         modals[index].classList.remove("hidden");
    //     });
    // });

    // closeModalButtons.forEach((button, index) => {
    //     button.addEventListener("click", () => {
    //         modals[index].classList.add("hidden");
    //     });
    // });

    // passwordDiv.forEach((img, index) => {
    //     img.addEventListener("click", (event) => {
    //         const containerRect = img.getBoundingClientRect();
    //         const clickedXPercentage =
    //             ((event.clientX - containerRect.left) / containerRect.width) *
    //             100;
    //         const clickedYPercentage =
    //             ((event.clientY - containerRect.top) / containerRect.height) *
    //             100;

    //         // console.log(
    //         //     "Clicked position (x%, y%):",
    //         //     clickedXPercentage,
    //         //     clickedYPercentage,
    //         // );
    //         //   imgDetails[`${event.target.id}`]=[clickedXPercentage,clickedYPercentage];
    //         let passpoint = {
    //             img: event.target.id,
    //             x: clickedXPercentage,
    //             y: clickedYPercentage,
    //         };
    //         imgDetails.push(passpoint);

    //         console.log(imgDetails);
    //         passpointCounter.textContent = `${imgDetails.length}/5`;
    //         // modals.classList.add("hidden");
    //         if (imgDetails.length >= 5) {
    //             passwordDiv.classList.add("pointer-events-none");
    //             registerButton.toggleAttribute("disabled");
    //         }
    //         document
    //             .getElementById(`${event.target.id}`)
    //             .classList.toggle("hidden");

    //         //   FileStorage.addUsers();
    //         //   console.log('Clicked position (x, y):', clickedX, clickedY);
    //         //   console.log('Clicked position (x, y):', winClickedX, winClickedY);
    //         //   console.log(`windows ${window.innerHeight}h ${window.innerWidth}`)
    //         //   console.log(` y ${event.clientX}, x ${event.clientY}, width ${containerRect.width}Clicked position (x, y):, clickedX, clickedY`);
    //         //   console.log(containerRect);
    //     });
    // });

    resetBtn.addEventListener("click", () => {
        registrationForm.reset();
        imgDetails.length = 0;
        passpointCounter.textContent = `${imgDetails.length}/4`;
        passwordDiv.classList.toggle("pointer-events-none");
        pwd.classList.remove("opacity-25");
        registerButton.toggleAttribute("disabled");
    });

    registrationForm.addEventListener("submit", async (event) => {
        event.preventDefault(); // Prevent the default form submission

        // Get the form data
        const formData = new FormData(event.target);
        formData.append("pwd", JSON.stringify(imgDetails));
        const res = await fetch("/api/register", {
            method: "POST",
            body: formData,
        });
        // console.log(await res.json());
        if (res.status == 201) {
            window.location.replace("/registered");
        }
        if (res.status == 401) {
            alert(`User already exist`);
        }
    });
</script>
